<!DOCTYPE html>
<html>
	<head>
			<link rel="stylesheet" href="css/bootstrap.css">

			<link rel="stylesheet" href="css/bootstrap-lumen-custom.css">

			<link rel="stylesheet" href="css/simple-sidebar.css">

			<script src="bootstrap.js"></script>

			<style type="text/css">
  .nav > li.active, .nav > li > a:hover {
    text-decoration: underline;
}

.code {
	/*width: 100%;*/
}

pre {
	font-size: 0.85em;
}
  </style>
	</head>
	<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Apache Flink</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Quickstart</a></li>
        <li><a href="#">Setup &amp; Configuration</a></li>
        <li><a href="#">Programming Guides</a></li>
        <li><a href="#">Execution &amp; Debugging</a></li>
        <li><a href="#">Internals</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

{{ content }}

</div>

{% include footer.html %}

	</body>
</html>