---
layout: default
---

<div class="row">
  <div class="col-md-3">
    <ul>
      <li><a href="faq.html">FAQ</a></li>
      <li>Quickstart
        <ul>
          <li><a href="setup_quickstart.html">Setup</a></li>
          <li><a href="run_example_quickstart.html">Run Example</a></li>
          <li><a href="java_api_quickstart.html">Java API</a></li>
          <li><a href="scala_api_quickstart.html">Scala API</a></li>
        </ul>
      </li>

      <li>Setup &amp; Configuration
        <ul>
          <li><a href="local_setup.html">Local Setup</a></li>
          <li><a href="cluster_setup.html">Cluster Setup</a></li>
          <li><a href="yarn_setup.html">YARN Setup</a></li>
          <li><a href="config.html">Configuration</a></li>
        </ul>
      </li>

      <li>Programming Guides
        <ul>
          <li><a href="java_api_guide.html">Java API</a></li>
          <li><a href="scala_api_guide.html">Scala API</a></li>
          <li><a href="hadoop_compatability.html">Hadoop Compatability</a></li>
          <li><a href="iterations.html">Iterations</a></li>
          <li><a href="spargel_guide.html">Spargel Graph API</a></li>
        </ul>
      </li>

      <li>Examples
        <ul>
          <li><a href="java_api_examples.html">Java API</a></li>
          <li><a href="scala_api_examples.html">Scala API</a></li>
        </ul>
      </li>

      <li>Execution
        <ul>
          <li><a href="local_execution.html">Local/Debugging</a></li>
          <li><a href="cluster_execution.html">Cluster</a></li>
          <li><a href="cli.html">Command-Line Interface</a></li>
          <li><a href="web_client.html">Web Interface</a></li>
        </ul>
      </li>

      <li>Internals
        <ul>
          <li><a href="internal_overview.html">Overview</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
      <h1>{{ page.title }}</h1>

      {{ page.content | tocify }}

      {{ content }}

      <div style="padding-top:30px" id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'stratosphere-eu'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  </div>
</div>